@font-face {
  font-family: 'Graph';
  src: url('../fonts/GraphikLCG-Regular.woff2') format('woff2'),
    url('../fonts/GraphikLCG-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Graph';
  src: url('../fonts/GraphikLCG-Black.woff2') format('woff2'),
    url('../fonts/GraphikLCG-Black.woff') format('woff');
  font-weight: 900;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button,
input,
textarea {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  font-family: inherit;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 400 18px 'Graph', sans-serif;
  position: relative;
  color: #092147;

  &.select-close {
    overflow-x: hidden;
  }
}

a {
  display: inline-block;
  font: inherit;
  color: inherit;
  transition: 300ms;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

svg {
  transition: 300ms;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1143px;
  margin: 0 auto;
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 688px;
    width: 100%;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;

  &.field--error {
    border: 0;
    .checkbox__inner {
      span {
        border: 1px solid #e30613;
      }
    }

    .checkbox__text {
      color: #e30613;
    }
  }
}

.checkbox.disabled {
  pointer-events: none;
  text-decoration: line-through;
  cursor: inherit;
  opacity: 0.4;
}

.checkbox__text {
  font-size: 12px;
  margin-left: 10px;
  color: #092147;
}

.checkbox__text a {
  text-decoration: underline;
}

.checkbox__inner span {
  text-align: center;
  width: 30px;
  height: 30px;
  display: block;
  cursor: pointer;
  border: 2px solid #19488e;
  box-sizing: border-box;
  position: relative;
  transition: 300ms;
  z-index: 1;
  border-radius: 7px;
}

.checkbox__inner span::before {
  display: block;
  content: '';
  position: absolute;
  width: 20px;
  height: 15px;
  background: url('../images/checked.svg') no-repeat;
  background-size: cover;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  opacity: 0;
  transition: 300ms;
  visibility: hidden;
  opacity: 0;
}

.checkbox__inner input {
  display: none;
}

.checkbox__inner input:checked + span::before {
  opacity: 1;
  visibility: visible;
}

.field {
  display: block;
  position: relative;
  height: 50px;
  cursor: pointer;
  overflow: hidden;
}

.field input,
textarea {
  border: none;
  padding-bottom: 0;
  border: 0;
  background: #f1f2f7;
  width: 100%;
  font-size: 16px;
  height: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-top: 10px;
  padding-left: 20px !important;
  resize: none;
  cursor: pointer;
  transition: 300ms;

  &:hover {
    background: #e9ebf4;
  }

  &.calendar-input {
    padding: 0;

    &::-webkit-input-placeholder {
      color: #092147;
    }
    &:-moz-placeholder {
      color: #092147;
    }
    &::-moz-placeholder {
      color: #092147;
    }
    &:-ms-input-placeholder {
      color: #092147;
    }
  }
}

.field-area {
  height: auto;
}

.field-area textarea {
  height: 102px;

  @media only screen and (max-width: 991px) {
    height: 125px;
  }
}

.field--error {
  border: 1px solid #ca1313;
}

.field__error {
  color: #ca1313;
  font-size: 12px;
}

.form-group {
  border-radius: 10px;
}

.field__label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  transition: 400ms;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #092147;
  padding-left: 20px;
}

@media only screen and (max-width: 991px) {
  .field__label {
    font-size: 16px;
  }
}

.field__label.top {
  top: 0px;
  transform: translateY(0);
  font-size: 12px;
}

.field input:focus ~ .field__label {
  top: 0px;
  transform: translateY(0%);
  font-size: 12px;
}

.field-area textarea {
  padding-top: 20px;
}

.field-area .field__label {
  top: 30px;

  &.top {
    top: 0;
  }
}

.field textarea:focus ~ .field__label {
  top: 0px;
  transform: translateY(0%);
  font-size: 12px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-weight: 900;
  font-size: 18px;
  height: 60px;
  cursor: pointer;
  transition: 300ms;
  border: 0;
}

.btn-blue {
  background: rgba(242, 96, 101, 1);
  color: #fff;
}

.btn-blue:hover {
  background: #d04045;
}

.btn-blue:active {
  background: #ba292e;
}

.iti {
  width: 100%;
  position: relative;
}

.iti input {
  width: 100%;
  padding: 7px;
  background: #f1f2f7;
  max-width: 100%;
  height: 50px;
  border: 0;
  width: 100%;
  font-size: 16px;
  transition: 300ms;
  cursor: pointer;

  &:hover {
    background: #e9ebf4;
  }
}

.iti input::-moz-placeholder {
  color: #bbb;
}

.iti input::-ms-input-placeholder {
  color: #bbb;
}

.iti input::placeholder {
  color: #bbb;
}

.iti__arrow {
  order: -1;
  margin-top: 20px;
}

.iti__flag {
  order: -1;
  background-image: url('../libs/inputTel/images/flags@2x.webp');
  width: 30px;
  height: 22px;
  border-radius: 5px;
}

.iti__selected-flag {
  display: flex;
  align-items: center;
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
  justify-content: flex-start;
  width: auto;
  padding-left: 5px;
  height: 100%;
  cursor: pointer;
  padding-right: 5px;
}

.phone-number {
  position: relative;
}

.iti--allow-dropdown .iti__country-list {
  position: absolute;
  width: 100%;
  top: 100%;
  z-index: 10000;
  background: #fff;
  left: 50%;
  transform: translateX(-50%);
  border-top: 0;
  border-top: 0;
  height: 300px;
  border-radius: 0 0 10px 10px;
  background: #f7f7f7;
}

.iti__country-list .iti__flag,
.iti__country-name {
  font-size: 14px;
}

.iti--allow-dropdown .iti__country-list::-webkit-scrollbar {
  width: 4px;
  background: #e9eced;
}

.iti--allow-dropdown .iti__country-list::-webkit-scrollbar-thumb {
  background: #e20e18;
}

.iti--container {
  background: #ededed;
  left: 0;
  z-index: 100000;
  top: 50%;
  width: 90%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  position: fixed;
}

.iti__country {
  color: #092147;
}

.iti__dial-code {
  color: #092147;
}

.iti__country:hover {
  background: #e20e18;
  cursor: pointer;
  color: #fff;
}

.iti__country:hover .iti__dial-code {
  color: #fff;
}

.iti__country:hover .iti__dial-code {
}

.iti__country-list {
  height: 90vh;
}

.iti .iti__selected-dial-code {
  margin-left: 2px;
  font-size: 16px;
  color: #333;
}

.wrapper .iti__selected-dial-code {
  font-weight: 300;
  font-size: 16px;
}

.iti .iti__selected-dial-code {
  margin-left: 4px;
}

.fancybox-button {
  display: none;
}

// Radio

.wrapper-content {
  overflow: hidden;
}

// Select-custom

.captcha {
  display: flex;
  align-items: center;

  &.mobile {
    display: none;

    @media only screen and (max-width: 991px) {
      display: flex;
    }
  }

  &.desktop {
    @media only screen and (max-width: 991px) {
      display: none;
    }
  }

  @media only screen and (max-width: 991px) {
    justify-content: center;
  }

  &-right {
    justify-content: flex-end;

    @media only screen and (max-width: 991px) {
      justify-content: center;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.wrapper-content {
  margin: 150px 0;
  background: #cddcf2;

  @media only screen and (max-width: 991px) {
    margin: 115px 0;
  }

  &-blue {
    background: #092147;
    color: #fff;

    .checkbox__inner span {
      border: 2px solid #fff;
    }

    .checkbox__text {
      color: #fff;
    }

    .checkbox__inner span::before {
      background: url('../images/checked-white.svg') no-repeat;
    }
  }
}

.form-content {
  margin: 0 auto;
  padding: 55px 0;

  @media only screen and (max-width: 991px) {
    padding: 26px 0;
  }

  &__title {
    font-weight: 900;
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    margin-bottom: 20px;

    @media only screen and (max-width: 991px) {
      font-size: 16px;
    }
  }

  &__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px 50px;
    align-items: flex-start;

    &.center {
      align-items: inherit;
    }

    @media only screen and (max-width: 991px) {
      grid-template-columns: 1fr;
      grid-gap: 15px;
    }
  }

  &__label {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 15px;

    @media only screen and (max-width: 1200px) {
      font-size: 14px;
    }

    @media only screen and (max-width: 991px) {
      font-size: 16px;
    }
  }

  &__item {
    margin-top: 20px;

    b {
      font-weight: 900;
      display: block;
      margin-bottom: 15px;

      @media only screen and (max-width: 1200px) {
        font-size: 14px;
      }
    }
  }

  &__btn {
    margin-top: 20px;

    @media only screen and (max-width: 991px) {
      width: 100%;
    }
  }

  &__foot {
    @media only screen and (max-width: 991px) {
      width: 100%;
      text-align: center;
      .checkbox {
        justify-content: center;
      }
    }
  }

  &__aside {
    margin-top: 40px;

    b {
      font-weight: 900;
      display: block;
      margin-bottom: 15px;

      @media only screen and (max-width: 1200px) {
        font-size: 14px;
      }

      @media only screen and (max-width: 991px) {
        font-size: 16px;
      }
    }
  }

  &__category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    @media only screen and (max-width: 1200px) {
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    .checkbox__text {
      max-width: 322px;
      font-size: 16px;
    }
  }

  &__area {
    margin-top: 40px;
    margin-bottom: 20px;

    b {
      font-weight: 900;
      margin-bottom: 15px;
      display: block;

      @media only screen and (max-width: 1200px) {
        font-size: 14px;
      }

      @media only screen and (max-width: 991px) {
        font-size: 16px;
      }
    }

    textarea {
      height: 86px;

      &::-webkit-input-placeholder {
        color: #07377e;
      }
      &:-moz-placeholder {
        color: #07377e;
      }
      &::-moz-placeholder {
        color: #07377e;
      }
      &:-ms-input-placeholder {
        color: #07377e;
      }
    }
  }

  &__bot {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 23px;

    @media only screen and (max-width: 991px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

@media only screen and (max-width: 991px) {
  .field-area-top textarea {
    padding-top: 40px;
  }
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

// Wrapper-koor

.wrapper-koor {
  .koor {
    margin-top: 100px;

    @media only screen and (max-width: 991px) {
      margin-top: 40px;
    }

    &__title {
      margin-bottom: 50px;
      font-weight: 900;
      font-size: 28px;
      color: #333;

      @media only screen and (max-width: 991px) {
        font-size: 24px;
        margin-bottom: 55px;
      }
    }

    &__text {
      font-weight: 400;
      font-size: 16px;
      line-height: 125%;
      color: #000;
      margin-bottom: 35px;

      @media only screen and (max-width: 991px) {
        font-size: 14px;
        margin-bottom: 30px;
      }
    }

    &__btn {
      width: 263px;

      @media only screen and (max-width: 991px) {
        width: 100%;
      }
    }
  }

  .koor-adva {
    margin: 100px 0;

    @media only screen and (max-width: 991px) {
      margin: 70px 0;
    }

    &__label {
      font-weight: 700;
      font-size: 18px;
      line-height: 83%;
      text-transform: uppercase;
      color: #07377e;
      margin-bottom: 37px;

      @media only screen and (max-width: 991px) {
        margin-bottom: 35px;
      }
    }

    &__items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 30px;

      @media only screen and (max-width: 767px) {
        grid-template-columns: 1fr;
        grid-gap: 20px;
      }
    }

    &__item {
      padding: 42px 38px;
      background: #e6f0ff;

      @media only screen and (max-width: 1200px) {
        padding: 30px;
      }

      @media only screen and (max-width: 767px) {
        min-height: 200px;
      }
    }

    &__img {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;

      @media only screen and (max-width: 991px) {
        margin-bottom: 15px;
      }
    }

    &__info {
      font-size: 16px;
      line-height: 125%;
      text-align: center;
      color: #515151;

      @media only screen and (max-width: 991px) {
        font-size: 14px;
      }

      b {
        display: block;
      }
    }
  }

  .koor-seminar {
    margin-bottom: 100px;

    @media only screen and (max-width: 991px) {
      margin-bottom: 70px;
    }

    &__info {
      display: flex;
      align-items: center;
      gap: 30px;

      @media only screen and (max-width: 991px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &__img {
      max-width: 750px;
      width: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      @media only screen and (max-width: 1200px) {
        max-width: 400px;
      }

      @media only screen and (max-width: 991px) {
        max-width: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__content {
      span {
        font-weight: 400;
        font-size: 18px;
        line-height: 167%;
        color: #515151;
        max-width: 315px;

        @media only screen and (max-width: 991px) {
          font-size: 16px;
        }
      }
    }

    &__btn {
      width: 263px;
      margin-top: 39px;

      @media only screen and (max-width: 991px) {
        width: 100%;
        margin-top: 35px;
      }
    }
  }
}

.air-datepicker.-inline- {
  width: 100%;
  border: 0;
  font-family: 'Graph';
}

.air-datepicker-nav--title {
  order: -1;
  padding: 0;
  flex-grow: 10;
  justify-content: flex-start;
  color: #333;

  &:hover {
    background: none;
  }
}

.air-datepicker-nav {
  border-bottom: 0;
  padding: 0;
  justify-content: flex-start;

  @media only screen and (max-width: 991px) {
    padding: 0 5px;
  }
}

.air-datepicker-body--day-name {
  color: #666;
  font-size: 12px;
  padding: 9px 16px;
  border: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  border-right: 0;

  @media only screen and (max-width: 370px) {
    padding: 7px 14px;
  }

  &:last-child {
    border-right: 1px solid #e0e0e0;
  }
}

.air-datepicker-body--day-names {
  margin: 0;
}

.air-datepicker--content {
  padding: 0;
}

.air-datepicker-body--cells.-days- {
  grid-auto-rows: auto;
}

.air-datepicker-cell {
  height: 51px;
  border-radius: 0;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;

  position: relative;

  &::before {
    position: absolute;
    display: block;
    content: '';
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 1px solid #e20e18;
    opacity: 0;
    visibility: hidden;
  }

  &.-focus- {
    background: none;
    color: #e20e18;
  }

  &.-custom- {
    color: #e20e18;

    &::before {
      opacity: 1;
      visibility: visible;
    }
  }

  &.-selected- {
    background: none;
    color: #fff;

    &::before {
      background: #e20e18;
      z-index: -1;
      opacity: 1;
      visibility: visible;
    }
  }

  &:nth-child(7n) {
    border-right: 1px solid #e0e0e0;
  }
}

.air-datepicker-body--cells.-months- {
  grid-auto-rows: auto;

  .air-datepicker-cell {
    &.-focus- {
      background: none;
      color: #e20e18;
    }

    &.-current- {
      color: #e20e18;
    }

    &.-selected- {
      color: #fff !important;
    }

    &:nth-child(1) {
      border-top: 1px solid #e0e0e0;
    }

    &:nth-child(2) {
      border-top: 1px solid #e0e0e0;
    }

    &:nth-child(3) {
      border-top: 1px solid #e0e0e0;
    }

    &:nth-child(3n) {
      border-right: 1px solid #e0e0e0;
    }

    &:nth-child(7n) {
      border-right: 0;
    }
  }
}

.air-datepicker {
  width: 362px;
  border: 0;

  @media only screen and (max-width: 370px) {
    width: 340px;
  }
}

.air-datepicker-body--cells.-years- {
  grid-auto-rows: auto;

  .air-datepicker-cell {
    &.-focus- {
      background: none;
      color: #e20e18;
    }

    &.-current- {
      color: #e20e18;
    }

    &.-selected- {
      color: #fff !important;
    }

    &:nth-child(1) {
      border-top: 1px solid #e0e0e0;
    }

    &:nth-child(2) {
      border-top: 1px solid #e0e0e0;
    }

    &:nth-child(3) {
      border-top: 1px solid #e0e0e0;
    }

    &:nth-child(4) {
      border-top: 1px solid #e0e0e0;
    }

    &:nth-child(4n) {
      border-right: 1px solid #e0e0e0;
    }

    &:nth-child(7n) {
      border-right: 0;
    }
  }
}

.air-datepicker-nav--title i {
  color: #333;
}

.air-datepicker--navigation {
  padding: 10px;
}

.air-datepicker-nav--action {
  &:hover {
    background: none;

    svg {
      path {
        stroke: #e20e18;
      }
    }
  }
  svg {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    path {
      stroke: #333;
    }
  }
}

// BANNER-JAC Стили взять эти и можно перенести их в общие стили

.banner-jac {
  background: url('/images/banner-jac-bg.png') 50% 50% no-repeat;
  max-width: 1140px;
  margin: 0 auto;
  min-height: 172px;
  margin-top: 20px;
  background-size: cover;

  @media only screen and (max-width: 991px) {
    min-height: 100%;
  }

  &__inner {
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;


    @media only screen and (max-width: 991px) {
      padding: 40px 15px;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      gap: 0;
    }
  }

  &__text {
    font-weight: 700;
    font-size: 26px;
    line-height: 138%;
    text-transform: uppercase;
    color: #fff;
    max-width: 442px;

    @media only screen and (max-width: 1200px) {
      max-width: 300px;
      font-size: 20px;
    }

    @media only screen and (max-width: 991px) {
      max-width: 100%;
      margin-bottom: 30px;
    }
  }

  &__img {
    height: 132px;
    width: 238px;
    border-radius: 15px;
    overflow: hidden;

    @media only screen and (max-width: 991px) {
      width: 100%;
      height: 220px;
      margin-bottom: 50px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: 900;
    font-size: 18px;
    height: 60px;
    cursor: pointer;
    transition: 300ms;
    border: 0;
    background: rgba(242, 96, 101, 1);
    color: #fff;
    max-width: 263px;

    @media only screen and (max-width: 991px) {
      max-width: 100%;
    }

    &:hover {
      background: #d04045;
    }

    &:active {
      background: #ba292e;
    }
  }
}
